{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div id="notifications">
            <div>
                {# Affichage des notifications du jour #}
            </div>
        </div>
        <div id="listTasks">
            <div>
                {# Affichage du tableau de toutes les tâches #}
            </div>
        </div>
        <div id="tasksForm">
            <div>
                {# Affichage des formulaires de création et de modification des tâches #}
            </div>
        </div>
    </div>
    
{% endblock %}